---
import { QuoteButton } from './QuoteButton';
---

<style>
  .rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
  }
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .text-focus-in {
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
  .scale-up-center:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @keyframes scale-up-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }
</style>
<!-- ====== Hero Section Start -->
<section
  id="home"
  class="relative overflow-hidden bg-primary pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
        <div
          class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center"
          data-wow-delay=".2s"
        >
          <h1
            class="text-focus-in mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
          >
            Transforming Ideas into Digital Reality, Make a Change.
          </h1>
          <p
            class="text-focus-in mx-auto mb-9 max-w-[600px] text-base font-medium text-white sm:text-lg sm:leading-[1.44]"
          >
            We provide innovative web solutions tailored to your needs, delivering cutting-edge
            designs and robust functionality. Let us bring your vision to life with precision and
            creativity.
          </p>
          <ul class="mb-10 flex flex-wrap items-center justify-center gap-5">
            <li class="rotate-center">
              <a
                href="https://api.whatsapp.com/send?phone=17959259"
                target="_blank"
                class="scale-up-center flex items-center gap-4 rounded-md bg-white px-6 py-[14px] text-base font-medium text-dark transition duration-300 ease-in-out hover:bg-gray-2 hover:text-body-color"
              >
                <svg
                  class="fill-current"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_2005_10818)">
                    <path
                      fill="green"
                      d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_2005_10818">
                      <rect width="24" height="24" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                Get A Quote
              </a>
            </li>
          </ul>
          <div
            class="wow fadeInUp flex items-center justify-center gap-4 text-center"
            data-wow-delay=".3s"
          >
            <a
              href="https://www.instagram.com/lightwebx/"
              class="scale-up-center mt-2 text-white/60 duration-300 ease-in-out hover:text-white"
              target="_blank"
            >
              <svg
                class="fill-current"
                width="82"
                height="64"
                viewBox="0 0 41 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="black"
                  d="M17.34,5.46h0a1.2,1.2,0,1,0,1.2,1.2A1.2,1.2,0,0,0,17.34,5.46Zm4.6,2.42a7.59,7.59,0,0,0-.46-2.43,4.94,4.94,0,0,0-1.16-1.77,4.7,4.7,0,0,0-1.77-1.15,7.3,7.3,0,0,0-2.43-.47C15.06,2,14.72,2,12,2s-3.06,0-4.12.06a7.3,7.3,0,0,0-2.43.47A4.78,4.78,0,0,0,3.68,3.68,4.7,4.7,0,0,0,2.53,5.45a7.3,7.3,0,0,0-.47,2.43C2,8.94,2,9.28,2,12s0,3.06.06,4.12a7.3,7.3,0,0,0,.47,2.43,4.7,4.7,0,0,0,1.15,1.77,4.78,4.78,0,0,0,1.77,1.15,7.3,7.3,0,0,0,2.43.47C8.94,22,9.28,22,12,22s3.06,0,4.12-.06a7.3,7.3,0,0,0,2.43-.47,4.7,4.7,0,0,0,1.77-1.15,4.85,4.85,0,0,0,1.16-1.77,7.59,7.59,0,0,0,.46-2.43c0-1.06.06-1.4.06-4.12S22,8.94,21.94,7.88ZM20.14,16a5.61,5.61,0,0,1-.34,1.86,3.06,3.06,0,0,1-.75,1.15,3.19,3.19,0,0,1-1.15.75,5.61,5.61,0,0,1-1.86.34c-1,.05-1.37.06-4,.06s-3,0-4-.06A5.73,5.73,0,0,1,6.1,19.8,3.27,3.27,0,0,1,5,19.05a3,3,0,0,1-.74-1.15A5.54,5.54,0,0,1,3.86,16c0-1-.06-1.37-.06-4s0-3,.06-4A5.54,5.54,0,0,1,4.21,6.1,3,3,0,0,1,5,5,3.14,3.14,0,0,1,6.1,4.2,5.73,5.73,0,0,1,8,3.86c1,0,1.37-.06,4-.06s3,0,4,.06a5.61,5.61,0,0,1,1.86.34A3.06,3.06,0,0,1,19.05,5,3.06,3.06,0,0,1,19.8,6.1,5.61,5.61,0,0,1,20.14,8c.05,1,.06,1.37.06,4S20.19,15,20.14,16ZM12,6.87A5.13,5.13,0,1,0,17.14,12,5.12,5.12,0,0,0,12,6.87Zm0,8.46A3.33,3.33,0,1,1,15.33,12,3.33,3.33,0,0,1,12,15.33Z"
                ></path>
              </svg>
            </a>

            <a
              href="https://www.facebook.com/lightwebx"
              class="scale-up-center text-white/60 duration-300 ease-in-out hover:text-white"
              target="_blank"
            >
              <svg
                class="fill-current"
                width="82"
                height="64"
                viewBox="0 0 41 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="black"
                  d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"
                ></path>
              </svg>
            </a>

            <a
              href="https://www.tiktok.com/@lightwebx"
              class="mt-3 text-white/60 duration-300 ease-in-out hover:text-white"
              target="_blank"
            >
              <svg
                class="scale-up-center fill-current"
                width="82"
                height="64"
                viewBox="0 0 41 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="black"
                  d="M12.94,1.61V15.78a2.83,2.83,0,0,1-2.83,2.83h0a2.83,2.83,0,0,1-2.83-2.83h0a2.84,2.84,0,0,1,2.83-2.84h0V9.17h0A6.61,6.61,0,0,0,3.5,15.78h0a6.61,6.61,0,0,0,6.61,6.61h0a6.61,6.61,0,0,0,6.61-6.61V9.17l.2.1a8.08,8.08,0,0,0,3.58.84h0V6.33l-.11,0a4.84,4.84,0,0,1-3.67-4.7H12.94Z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="w-full px-4">
        <div class="wow fadeInUp relative z-10 mx-auto max-w-[845px]" data-wow-delay=".25s">
          <div class="mt-16">
            <img
              src="/assets/hero/heropic2.webp"
              alt="hero"
              class="mx-auto max-w-full rounded-t-xl rounded-tr-xl"
            />
          </div>
          <div class="absolute -left-9 bottom-0 z-[-1]">
            <svg
              width="134"
              height="106"
              viewBox="0 0 134 106"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="1.66667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 1.66667 104)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="104"
                r="1.66667"
                transform="rotate(-90 16.3333 104)"
                fill="white"></circle>
              <circle cx="31" cy="104" r="1.66667" transform="rotate(-90 31 104)" fill="white"
              ></circle>
              <circle
                cx="45.6667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 45.6667 104)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="104"
                r="1.66667"
                transform="rotate(-90 60.3333 104)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 88.6667 104)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 117.667 104)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 74.6667 104)"
                fill="white"></circle>
              <circle cx="103" cy="104" r="1.66667" transform="rotate(-90 103 104)" fill="white"
              ></circle>
              <circle cx="132" cy="104" r="1.66667" transform="rotate(-90 132 104)" fill="white"
              ></circle>
              <circle
                cx="1.66667"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 1.66667 89.3333)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 16.3333 89.3333)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 31 89.3333)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 45.6667 89.3333)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 60.3333 89.3338)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 88.6667 89.3338)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 117.667 89.3338)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 74.6667 89.3338)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 103 89.3338)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 132 89.3338)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="74.6673"
                r="1.66667"
                transform="rotate(-90 1.66667 74.6673)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 1.66667 31.0003)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 16.3333 74.6668)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 16.3333 31.0003)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 31 74.6668)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 31 31.0003)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 45.6667 74.6668)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 45.6667 31.0003)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 60.3333 74.6668)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 60.3333 31.0001)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 88.6667 74.6668)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 88.6667 31.0001)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 117.667 74.6668)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 117.667 31.0001)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 74.6667 74.6668)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 74.6667 31.0001)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 103 74.6668)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 103 31.0001)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 132 74.6668)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 132 31.0001)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 1.66667 60.0003)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 1.66667 16.3336)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 16.3333 60.0003)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 16.3333 16.3336)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 31 60.0003)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 31 16.3336)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 45.6667 60.0003)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 45.6667 16.3336)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 60.3333 60.0003)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 60.3333 16.3336)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 88.6667 60.0003)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 88.6667 16.3336)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 117.667 60.0003)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 117.667 16.3336)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 74.6667 60.0003)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 74.6667 16.3336)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 103 60.0003)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 103 16.3336)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 132 60.0003)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 132 16.3336)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 1.66667 45.3336)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 1.66667 1.66683)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 16.3333 45.3336)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 16.3333 1.66683)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 31 45.3336)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 31 1.66683)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 45.6667 45.3336)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 45.6667 1.66683)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 60.3333 45.3338)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 60.3333 1.66707)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 88.6667 45.3338)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 88.6667 1.66707)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 117.667 45.3338)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 117.667 1.66707)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 74.6667 45.3338)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 74.6667 1.66707)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 103 45.3338)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 103 1.66707)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 132 45.3338)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 132 1.66707)"
                fill="white"></circle>
            </svg>
          </div>
          <div class="absolute -right-6 -top-6 z-[-1]">
            <svg
              width="134"
              height="106"
              viewBox="0 0 134 106"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="1.66667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 1.66667 104)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="104"
                r="1.66667"
                transform="rotate(-90 16.3333 104)"
                fill="white"></circle>
              <circle cx="31" cy="104" r="1.66667" transform="rotate(-90 31 104)" fill="white"
              ></circle>
              <circle
                cx="45.6667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 45.6667 104)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="104"
                r="1.66667"
                transform="rotate(-90 60.3333 104)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 88.6667 104)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 117.667 104)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="104"
                r="1.66667"
                transform="rotate(-90 74.6667 104)"
                fill="white"></circle>
              <circle cx="103" cy="104" r="1.66667" transform="rotate(-90 103 104)" fill="white"
              ></circle>
              <circle cx="132" cy="104" r="1.66667" transform="rotate(-90 132 104)" fill="white"
              ></circle>
              <circle
                cx="1.66667"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 1.66667 89.3333)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 16.3333 89.3333)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 31 89.3333)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="89.3333"
                r="1.66667"
                transform="rotate(-90 45.6667 89.3333)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 60.3333 89.3338)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 88.6667 89.3338)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 117.667 89.3338)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 74.6667 89.3338)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 103 89.3338)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="89.3338"
                r="1.66667"
                transform="rotate(-90 132 89.3338)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="74.6673"
                r="1.66667"
                transform="rotate(-90 1.66667 74.6673)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 1.66667 31.0003)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 16.3333 74.6668)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 16.3333 31.0003)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 31 74.6668)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 31 31.0003)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 45.6667 74.6668)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="31.0003"
                r="1.66667"
                transform="rotate(-90 45.6667 31.0003)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 60.3333 74.6668)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 60.3333 31.0001)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 88.6667 74.6668)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 88.6667 31.0001)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 117.667 74.6668)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 117.667 31.0001)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 74.6667 74.6668)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 74.6667 31.0001)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 103 74.6668)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 103 31.0001)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="74.6668"
                r="1.66667"
                transform="rotate(-90 132 74.6668)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="31.0001"
                r="1.66667"
                transform="rotate(-90 132 31.0001)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 1.66667 60.0003)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 1.66667 16.3336)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 16.3333 60.0003)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 16.3333 16.3336)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 31 60.0003)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 31 16.3336)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 45.6667 60.0003)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 45.6667 16.3336)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 60.3333 60.0003)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 60.3333 16.3336)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 88.6667 60.0003)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 88.6667 16.3336)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 117.667 60.0003)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 117.667 16.3336)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 74.6667 60.0003)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 74.6667 16.3336)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 103 60.0003)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 103 16.3336)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="60.0003"
                r="1.66667"
                transform="rotate(-90 132 60.0003)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="16.3336"
                r="1.66667"
                transform="rotate(-90 132 16.3336)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 1.66667 45.3336)"
                fill="white"></circle>
              <circle
                cx="1.66667"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 1.66667 1.66683)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 16.3333 45.3336)"
                fill="white"></circle>
              <circle
                cx="16.3333"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 16.3333 1.66683)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 31 45.3336)"
                fill="white"></circle>
              <circle
                cx="31"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 31 1.66683)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="45.3336"
                r="1.66667"
                transform="rotate(-90 45.6667 45.3336)"
                fill="white"></circle>
              <circle
                cx="45.6667"
                cy="1.66683"
                r="1.66667"
                transform="rotate(-90 45.6667 1.66683)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 60.3333 45.3338)"
                fill="white"></circle>
              <circle
                cx="60.3333"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 60.3333 1.66707)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 88.6667 45.3338)"
                fill="white"></circle>
              <circle
                cx="88.6667"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 88.6667 1.66707)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 117.667 45.3338)"
                fill="white"></circle>
              <circle
                cx="117.667"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 117.667 1.66707)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 74.6667 45.3338)"
                fill="white"></circle>
              <circle
                cx="74.6667"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 74.6667 1.66707)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 103 45.3338)"
                fill="white"></circle>
              <circle
                cx="103"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 103 1.66707)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="45.3338"
                r="1.66667"
                transform="rotate(-90 132 45.3338)"
                fill="white"></circle>
              <circle
                cx="132"
                cy="1.66707"
                r="1.66667"
                transform="rotate(-90 132 1.66707)"
                fill="white"></circle>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Hero Section End -->
